/* Table of Contents
==================================================
01. RETINA STYLES
02. BASE STYLES (1140px)
03. #DESKTOP (960px)
04. #Tablet (Portrait)
05. #Mobile (Portrait)
*/


/*
=============================================== 01. RETINA STYLES ===============================================
*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body nav select {background:#FAFAFA url(../images/select-arrow@2x.png) center right no-repeat; background-size:contain;}
}
/* IE7-IE8 Fixes*/
.lt-ie9	body nav select {background: url(../images/select-arrow.png) center right no-repeat;}


/*
=============================================== 02. BASE STYLES (1140px) ===============================================
*/
/* Note: Design for a width of 1040px */
html {-webkit-text-size-adjust: none;}	/* Removes webkit font resizing */ 
body {max-width:100%; width:100%;}
img {max-width:100%; height: auto; }


/*
=============================================== 03. #DESKTOP (960px) ===============================================
*/
/* Note: Design for a width of 960px */
@media only screen and (min-width: 959px) and (max-width: 1190px) {
	
.width-container { width:94%; }

.tp-caption { margin-top:20px !important; }

body .flickr-widget ul li img {  width:55px; height:55px;  }


h1 {font-size:32px; }
#page-title h1 {font-size:38px;   }
body.page-template-homepage-php #page-title h1 { font-size:58px; }
h2 {font-size:26px; }
h3 {font-size:21px; }
h4, body.single .woocommerce-tabs h2, .related h2  {font-size:19px;  }
h5  {font-size:16px; }
#sidebar h5 { font-size:14px; }
h6 {font-size:13px;  }

}


/*
=============================================== 04. #Tablet (Portrait) ===============================================
*/
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
.width-container { width:95%; }

body {font-size:13px;}

.sf-menu a { font-size:10px;  padding-right:10px; padding-left:10px; }


/* Revolution Slider Fixes */
.tp-caption { margin-top:50px !important;  }

body .flickr-widget ul li img {  width:40px; height:40px;  }
body #widget-area .flickr-widget ul li img {  width:44px; height:44px;  }
.social-ico a i {padding:5px; min-width:11px; font-size:12px;}

/* WooCommerce Columns Fix */
body #main li.product.column-4 {margin-right:2%; width: 23.5%; clear:none;}
body #main li.product.column-3 {margin-right:2%; width: 32%; clear:none;}
body #main li.product.column-2 {margin-right:2%; width: 49%; clear:none; }


body #main li.product.column-2.last, body #main li.product.column-3.last, body #main li.product.column-4.last, .lt-ie8 body #main li.product.column-2.last, .lt-ie8 body #main li.product.column-3.last, .lt-ie8 body #main li.product.column-4.last {margin-right:0%;}

body #main li.product { float:left;}
body #main li.product.first { clear: both;}

body #main .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
body #main .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
body #main .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }

h1 {font-size:28px; }
#page-title h1 {font-size:36px;   }
body.page-template-homepage-php #page-title h1 { font-size:50px; }
h2 {font-size:24px; }
h3 {font-size:19px; }
h4, body.single .woocommerce-tabs h2, .related h2  {font-size:17px;  }
h5  {font-size:15px; }
#sidebar h5 { font-size:13px; }
h6 {font-size:12px;  }


}


/*
=============================================== 05. #Mobile (Portrait) ===============================================
*/
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
.width-container { width:95%; }

body {font-size:12px;}


ul.products li.product {width:100% !important; float:none; margin-left:0px !important; margin-right:0px !important; }

#sidebar, #content-container-pro,
.home1column-progression, .home2column-progression, .home3column-progression, .home4column-progression,
.footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget,
footer .footer-2-column .widget, footer .footer-3-column .widget, footer .footer-4-column .widget,
.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression  {
	width:100%; margin-bottom:10px; margin-left:0px; margin-right:0px;
}
.featured-blog-progression, .container-text-pro, .events-thumbnail-pro, .events-archive-content  {margin-bottom:8px; float:none; width:100%; }

pre, code {font-size:12px;}

.commentlist {width:95%; left:-10px;}
.commentlist li .comment-text {margin-left:0px !important; border:none !important; padding-left:0px !important; }
.commentlist .children li.comment .comment-meta {margin-left:0px;}
.commentlist .avatar, .commentlist > li:before {display:none;}
.commentlist .avatar {display:none;}
#post-nav-progression .nav-next,  #post-nav-progression .nav-previous { width:45%; }

.wpcf7 input, #respond input {width:70%; }
.wpcf7 textarea, #respond textarea {width:85%; }

.google-maps-expand .googlemap {max-height:250px !important;}


/* Revolution Slider Fixes */
/* #pro-home-slider {min-height:400px;} */



.tp-caption { margin-top:90px !important; }

/* Select Menu */
header nav h1 {float:none; margin-bottom:25px; }
header nav:before {display:none;}
#right-navigation-pro { float:none;}
.scroll-to-fixed-fixed { position:relative !important; top:0px; }
nav ul { display: none;  }  
nav select option { background:#fff; color:#888;}
nav select { text-transform:none; display:block;  margin-left:auto; margin-right:auto; width:280px; min-width: 150px; max-width: 100%; -webkit-appearance: none; -moz-appearance: normal; appearance: normal;
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
 -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none;-moz-user-select: none;
background-color:#FAFAFA;
background:#FAFAFA url(../images/select-arrow.png) center right no-repeat;
font-size:12px;
border: 1px solid #aaaaaa;
color: #555555;
padding:6px 5px 6px 10px;
}


.fc-widget-content, .fc-day-grid-container, .fc-day-grid {
	min-height:315px;
}

h1 {font-size:24px; }
#page-title h1 {font-size:28px;   }
body.page-template-homepage-php #page-title h1 { font-size:40px; }
h2 {font-size:20px; }
h3 {font-size:18px; }
h4, body.single .woocommerce-tabs h2, .related h2  {font-size:15px;  }
h5  {font-size:14px; }
#sidebar h5 { font-size:13px; }
h6 {font-size:11px;  }
 
 
}

@media only screen and (max-width: 400px) {
	.tp-caption { margin-top:125px !important; }
}
